<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <title>Better Latte Than Never</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
  </head>

  <body>

    <div class="container">
    <div class="row">
         <h1>Welcome Administrator</h1>
         <h2>Waiters week schedule</h2> 
    <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-md">Days of the Week</th>
          <th class="col-md">Waiters</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{status.SundayStatus}}">
            <th scope="row">Sunday</th>
            {{#each workingList.Sunday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.MondayStatus}}">
            <th scope="row">Monday</th>
            {{#each workingList.Monday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.TuesdayStatus}}">
            <th scope="row">Tuesday</th>
            {{#each workingList.Tuesday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.WednesdayStatus}}">
            <th scope="row">Wednesday</th>
            {{#each workingList.Wednesday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.ThursdayStatus}}">
            <th scope="row">Thursday</th>
            {{#each workingList.Thursday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.FridayStatus}}">
            <th scope="row">Friday</th>
            {{#each workingList.Friday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr class="{{status.SaturdayStatus}}">
            <th scope="row">Saturday</th>
            {{#each workingList.Saturday}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
      </tbody>
    </table>
    <br>
        <form class="resetForm" action="/admin/remove" method="post">
            <div class="buttonReset wrapper">
                <span class="group-btn">     
                    <button name="resetButton" type="submit" class="resetButton btn btn-primary btn-md">Reset</button>
                </span>
            </div>
        </form>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>